.mt-41 {
  margin-top: 41px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-3 {
  margin-top: 3px;
}
.page {
  padding: 18px 6px 0;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.grid {
  margin-left: 4px;
  height: 708px;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 16px;
  column-gap: 10px;
}
.grid-item {
  padding: 38px 0 42px;
  overflow: hidden;
  background-color: #fafcff;
  border-radius: 24px;
  box-shadow: 0px 28px 35px -30px #9a6bf966;
  border-left: solid 1px #2ec6e8;
  border-right: solid 1px #2ec6e8;
  border-top: solid 1px #2ec6e8;
  border-bottom: solid 1px #2ec6e8;
}
.image {
  border-radius: 50%;
  width: 83px;
  height: 83px;
}
.font {
  font-size: 18px;
  font-family: MiSans;
  line-height: 16.5px;
  color: #100b59;
}
.group {
  padding-left: 28px;
  padding-right: 24px;
}
.group_2 {
  width: 30px;
}
.image_2 {
  width: 26px;
  height: 28px;
}
.font_2 {
  font-size: 12px;
  font-family: HarmonyOSSansTC;
  line-height: 11px;
  color: #a3a1bf;
}
.text_4 {
  line-height: 11px;
  transform: rotate(0deg);
}
.image_3 {
  width: 28px;
  height: 28px;
}
.text_5 {
  color: #a3a1bf;
  font-size: 12px;
  font-family: MiSans;
  line-height: 11px;
}
.text {
  color: #2499ff;
  line-height: 11px;
}
.group_4 {
  padding-bottom: 2px;
  overflow: hidden;
  width: 25px;
  height: 38px;
}
.image_4 {
  margin-top: -6px;
  width: 25px;
  height: 26px;
}
.text_2 {
  line-height: 11px;
}
.group_3 {
  margin-bottom: 4px;
}
.image_5 {
  width: 29px;
  height: 26px;
}
.text_3 {
  line-height: 11px;
}
.section {
  background-color: #ffffff;
  height: 33px;
}