.mt-13 {
  margin-top: 13px;
}
.ml-7 {
  margin-left: 7px;
}
.mt-3 {
  margin-top: 3px;
}
.page {
  background-color: #f6f6f9;
  border-radius: 40px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.list {
  height: 777.5px;
}
.group {
  height: 197px;
}
.section {
  padding: 54px 9px 3px 12px;
  background-image: url('https://ide.code.fun/api/image?token=6995edf44bd4760011a96577&name=dd796dc0af83b1f59fe6012459cac3be.png');
  background-size: 100% 100%;
  width: 143px;
}
.pos {
  position: absolute;
  left: 0;
  top: 0;
}
.text-wrapper {
  padding: 6px 0;
  overflow: hidden;
  width: 52px;
}
.text {
  color: #17135f;
  font-size: 26px;
  font-family: MiSans;
  font-weight: 600;
  line-height: 24.5px;
}
.group_2 {
  overflow: hidden;
}
.image {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}
.group_3 {
  margin: 2px 0;
  padding-top: 4px;
  overflow: hidden;
  height: 42px;
}
.font {
  font-size: 18px;
  font-family: MiSans;
  line-height: 16.5px;
  color: #100b59;
}
.text_3 {
  line-height: 16.5px;
}
.font_2 {
  font-size: 12px;
  font-family: MiSans;
  line-height: 16.5px;
  color: #100b59;
}
.text_4 {
  line-height: 16px;
  width: 46px;
}
.image_3 {
  width: 30px;
  height: 13px;
}
.pos_4 {
  position: absolute;
  left: 12px;
  bottom: 36px;
}
.section_3 {
  padding: 54px 23px 91px;
  background-image: url('https://ide.code.fun/api/image?token=6995edf44bd4760011a96577&name=9a0082ba58b7ce15def70007372bb8b7.png');
  background-size: 100% 100%;
  width: 123px;
}
.pos_3 {
  position: absolute;
  right: 0;
  top: 0;
}
.text-wrapper_2 {
  padding: 10px 0;
  background-image: linear-gradient(90deg, #78c8f0 0%, #3999ed 100%);
  border-radius: 95px;
  width: 56px;
}
.text_2 {
  color: #ffffff;
  font-size: 14px;
  font-family: MiSans;
  line-height: 13px;
}
.image_2 {
  width: 18px;
  height: 4px;
}
.font_3 {
  font-size: 16px;
  font-family: MiSans;
  line-height: 16.5px;
  color: #1f1a63;
}
.pos_5 {
  position: absolute;
  left: 13px;
  bottom: 5px;
}
.section_2 {
  padding: 18px 14px 14px 24px;
  background-color: #00000000;
}
.pos_2 {
  position: absolute;
  left: 0;
  right: 9px;
  top: 0;
}
.section_4 {
  background-color: #00000000;
  width: 28px;
  height: 11px;
}
.section_5 {
  background-color: #00000000;
  width: 67px;
  height: 11px;
}
.equal-division {
  margin-left: 12px;
  margin-right: 24px;
}
.image_4 {
  flex: 1 1 108px;
}
.equal-division-item {
  border-radius: 15px;
  overflow: hidden;
  height: 108px;
}
.equal-division-item_2 {
  border-radius: 15px;
  height: 108px;
}
.list-item {
  margin-top: -72px;
}
.group_4 {
  margin-right: 22px;
  padding-bottom: 49px;
}
.section_6 {
  padding: 102px 13px 106px;
  background-color: #d5e6f9;
  border-radius: 0 50% 50% 0;
  width: 159px;
}
.view {
  margin-right: 11px;
}
.image_5 {
  width: 29px;
  height: 12px;
}
.pos_7 {
  position: absolute;
  left: 14px;
  bottom: 123px;
}
.equal-division_2 {
  position: absolute;
  left: 13px;
  right: 0;
  top: 219px;
}
.pos_6 {
  position: absolute;
  right: 22px;
  top: 114px;
}
.group_5 {
  margin-left: 4px;
  margin-top: 25px;
}
.view_2 {
  margin-left: 13px;
  margin-right: 18px;
}
.group_6 {
  overflow: hidden;
  width: 122px;
  height: 46px;
}
.group_7 {
  margin: 2px 0;
  padding-top: 4px;
  overflow: hidden;
  width: 68px;
  height: 42px;
}
.text_5 {
  line-height: 16.5px;
}
.image_6 {
  margin-top: 12px;
}
.image-wrapper {
  flex: 1 1 107.5px;
  overflow: hidden;
  height: 65.5px;
}
.image_7 {
  border-radius: 15px;
  width: 108px;
  height: 108px;
}
.image_8 {
  border-radius: 15px;
  width: 111px;
  height: 108px;
}
.section_7 {
  padding: 1px 14px 1px 32px;
  background-color: #ffffff;
}
.pos_8 {
  position: absolute;
  left: 0;
  right: 0;
  top: 136px;
}
.group_8 {
  width: 30px;
}
.image_9 {
  width: 26px;
  height: 28px;
}
.font_4 {
  font-size: 12px;
  font-family: HarmonyOSSansTC;
  line-height: 11px;
  color: #a3a1bf;
}
.text_8 {
  line-height: 11px;
  transform: rotate(0deg);
}
.image_10 {
  width: 28px;
  height: 28px;
}
.text_9 {
  color: #3999ed;
  line-height: 11px;
}
.text_6 {
  line-height: 11px;
}
.group_9 {
  overflow: hidden;
  width: 25px;
  height: 43.5px;
}
.image_11 {
  width: 25px;
  height: 26px;
}
.text_7 {
  line-height: 11px;
}
.group_10 {
  margin-bottom: 4px;
}
.image_12 {
  width: 29px;
  height: 26px;
}